In [56]:
from pymongo import MongoClient

# Conéctate a la base de datos MongoDB
client = MongoClient('mongodb://localhost:27017/')
database = client['database1']
collection = database['coleccion1']

# Insertar datos
data_to_insert = {"nombre": "Ejemplo", "edad": 25}
insert_result = collection.insert_one(data_to_insert)
print(f"ID del documento insertado: {insert_result.inserted_id}")

# Leer datos
query = {"nombre": "Ejemplo"}
result = collection.find_one(query)
print(f"Dato encontrado: {result}")

# Actualizar datos
update_query = {"nombre": "Ejemplo"}
update_data = {"$set": {"edad": 26}}
update_result = collection.update_one(update_query, update_data)
print(f"Número de documentos modificados: {update_result.modified_count}")

# Eliminar datos
delete_query = {"nombre": "Ejemplo"}
delete_result = collection.delete_one(delete_query)
print(f"Número de documentos eliminados: {delete_result.deleted_count}")

ID del documento insertado: 65864f5dc70173b7b4c1bad2
Dato encontrado: {'_id': ObjectId('65864f5dc70173b7b4c1bad2'), 'nombre': 'Ejemplo', 'edad': 25}
Número de documentos modificados: 1
Número de documentos eliminados: 1

In [ ]:

from pymongo import MongoClient
import pandas as pd
client=MongoClient('127.0.0.1', 27017)
database= client['BaseNetflix']
collection= database['IMDB']
cursor= collection.find()
listado= list(cursor)
df1= pd.DataFrame(listado)

client.close()

print("Datos de la pelicula Fine Wine")
df1[(df1["title"]=="Fine Wine")]

In [45]:
print("Shows estrenados despues de 2020")
df1[(df1["type"]=="SHOW")&(df1["release_year"]>2020)]

Shows estrenados despues de 2020

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
4414,658646461104730b567e31a8,4414,ts264270,Anatomy of a Scandal,SHOW,A sexual consent scandal amongst British privi...,2022,TV-MA,45,tt12748084,7.0,16425.0
4415,658646461104730b567e31a9,4415,ts217231,Heartstopper,SHOW,Teens Charlie and Nick discover their unlikely...,2022,TV-14,28,tt10638036,8.9,28978.0
4416,658646461104730b567e31aa,4416,ts90093,The Pentaverate,SHOW,"After influencing global events for centuries,...",2022,TV-MA,27,tt10203880,6.1,3409.0
4417,658646461104730b567e31ab,4417,ts108385,Inventing Anna,SHOW,A journalist with a lot to prove investigates ...,2022,TV-MA,68,tt8740976,6.8,54105.0
4421,658646461104730b567e31af,4421,ts225061,Pieces of Her,SHOW,An act of violence rocks a sleepy Georgia town...,2022,TV-MA,52,tt9170236,6.4,11322.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5252,658646461104730b567e34ee,5252,ts309235,Christmas Flow,SHOW,An unlikely Christmas romance blossoms between...,2021,TV-MA,50,tt15340790,5.8,702.0
5254,658646461104730b567e34f0,5254,ts307816,Korean Cold Noodle Rhapsody,SHOW,"Refreshing and flavorful, naengmyeon is Koreaâ...",2021,TV-PG,49,tt15772846,7.3,15.0
5266,658646461104730b567e34fc,5266,ts273317,Pitta Kathalu,SHOW,"Four different women, four journeys of love an...",2021,TV-MA,37,tt13879000,5.1,727.0
5275,658646461104730b567e3505,5275,ts286386,The Big Day,SHOW,"For six engaged couples, happily ever after be...",2021,TV-MA,45,tt13887518,4.6,327.0
5282,658646461104730b567e350c,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [46]:
print("Shows con mas calificacion que 8")
df1[(df1["type"]=="SHOW")&(df1["imdb_score"]>8)]

Shows con mas calificacion que 8

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
4,658646461104730b567e206e,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
28,658646461104730b567e2086,28,ts45948,Monty Python's Fliegender Zirkus,SHOW,Monty Python's Fliegender Zirkus consisted of ...,1972,TV-MA,43,tt0202477,8.1,2144.0
43,658646461104730b567e2095,43,ts20681,Seinfeld,SHOW,A stand-up comedian and his three offbeat frie...,1989,TV-PG,24,tt0098904,8.9,302700.0
99,658646461104730b567e20cd,99,ts22176,Stargate SG-1,SHOW,The story of Stargate SG-1 begins about a year...,1997,TV-PG,44,tt0118480,8.4,90196.0
103,658646461104730b567e20d1,103,ts20339,One Piece,SHOW,"Years ago, the fearsome Pirate King, Gol D. Ro...",1999,TV-14,23,tt0388629,8.8,112586.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5092,658646461104730b567e344e,5092,ts310628,MaveriX,SHOW,Six young motocross riders come together to fo...,2022,NaN,23,tt15373864,8.4,31.0
5094,658646461104730b567e3450,5094,ts286218,The Rational Life,SHOW,Shen Ruo Xin is a thirty-something professiona...,2021,NaN,45,tt14376958,8.1,445.0
5109,658646461104730b567e345f,5109,ts287729,Alma Matters: Inside the IIT Dream,SHOW,"In a ""nation of middle-class"" the IIT dream in...",2021,TV-MA,51,tt14512938,8.3,2323.0
5186,658646461104730b567e34ac,5186,ts288861,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,tt15978704,8.2,5.0
5282,658646461104730b567e350c,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

In [47]:
print("Las 10 peliculas mayor clasificadas")
df1[(df1["type"]=="MOVIE")&(df1["imdb_score"]>8)].head(10)

Las 10 peliculas mayor clasificadas

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,658646461104730b567e206a,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,658646461104730b567e206b,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
3,658646461104730b567e206d,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
12,658646461104730b567e2076,12,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,tt0079807,8.1,5141.0
24,658646461104730b567e2082,24,tm76557,No Longer Kids,MOVIE,"By coincidence, Ahmad discovers that his fathe...",1979,NaN,235,tt8312792,9.0,943.0
44,658646461104730b567e2096,44,tm111075,Stand by Me,MOVIE,"Gordie, Chris, Teddy and Vern are four friends...",1986,R,89,tt0092005,8.1,392790.0
45,658646461104730b567e2097,45,tm180542,Once Upon a Time in America,MOVIE,A former Prohibition-era Jewish gangster retur...,1984,R,229,tt0087843,8.3,342335.0
48,658646461104730b567e209a,48,tm22327,Full Metal Jacket,MOVIE,A pragmatic U.S. Marine observes the dehumaniz...,1987,R,116,tt0093058,8.3,723306.0
74,658646461104730b567e20b4,74,tm133914,Parrot Sketch Not Included: Twenty Years of Mo...,MOVIE,"Steve Martin presents selected sketches from ""...",1989,NaN,72,tt0213984,8.1,1522.0
81,658646461104730b567e20bb,81,tm45720,Bye Bye London,MOVIE,A comedy about an old married man that travels...,1982,NaN,170,tt10130668,8.7,154.0

In [48]:
print("Los 10 shows mejor valorados")
df1[(df1["type"]=="SHOW")&(df1["imdb_score"]>9)].head(10)

Los 10 shows mejor valorados

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
229,658646461104730b567e214f,229,ts4,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,tt0903747,9.5,1727694.0
245,658646461104730b567e215f,245,ts3371,Avatar: The Last Airbender,SHOW,"In a war-torn world of elemental magic, a youn...",2005,TV-Y7,24,tt0417299,9.3,297336.0
622,658646461104730b567e22d8,622,ts160526,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,20,tt3062514,9.6,3046.0
1346,658646461104730b567e25ac,1346,ts37660,Reply 1988,SHOW,A nostalgic trip back to the late 1980s throug...,2015,TV-14,95,tt5182866,9.2,6557.0
1953,658646461104730b567e280b,1953,ts78298,My Mister,SHOW,"In a world that is less than kind, a young wom...",2018,TV-14,79,tt7923710,9.2,5481.0
2787,658646461104730b567e2b4d,2787,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,tt12635254,9.6,7.0
3026,658646461104730b567e2c3c,3026,ts81120,The Last Dance,SHOW,A 10-part documentary chronicling the untold s...,2020,TV-MA,50,tt8420184,9.1,108321.0
3144,658646461104730b567e2cb2,3144,ts85398,Our Planet,SHOW,Experience our planet's natural beauty and exa...,2019,TV-G,50,tt9253866,9.3,41386.0
3597,658646461104730b567e2e77,3597,ts90621,Kota Factory,SHOW,"Dedicated to Shrimati SL Loney ji, Shri Irodov...",2019,TV-MA,42,tt9432978,9.3,66985.0
4429,658646461104730b567e31b7,4429,ts222333,Arcane,SHOW,Amid the stark discord of twin cities Piltover...,2021,TV-14,41,tt11126994,9.1,175412.0

In [49]:
print("Los mejores shows de antes del 2000")
df1[(df1["type"]=="SHOW")&(df1["imdb_score"]>8)&(df1["release_year"]<2000)].head(10)

Los mejores shows de antes del 2000

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
4,658646461104730b567e206e,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
28,658646461104730b567e2086,28,ts45948,Monty Python's Fliegender Zirkus,SHOW,Monty Python's Fliegender Zirkus consisted of ...,1972,TV-MA,43,tt0202477,8.1,2144.0
43,658646461104730b567e2095,43,ts20681,Seinfeld,SHOW,A stand-up comedian and his three offbeat frie...,1989,TV-PG,24,tt0098904,8.9,302700.0
99,658646461104730b567e20cd,99,ts22176,Stargate SG-1,SHOW,The story of Stargate SG-1 begins about a year...,1997,TV-PG,44,tt0118480,8.4,90196.0
103,658646461104730b567e20d1,103,ts20339,One Piece,SHOW,"Years ago, the fearsome Pirate King, Gol D. Ro...",1999,TV-14,23,tt0388629,8.8,112586.0
105,658646461104730b567e20d3,105,ts34435,Cowboy Bebop,SHOW,"In 2071, roughly fifty years after an accident...",1998,TV-14,25,tt0213338,8.9,112887.0
106,658646461104730b567e20d4,106,ts20927,Star Trek: Deep Space Nine,SHOW,"At Deep Space Nine, a space station located ne...",1993,TV-PG,47,tt0106145,8.1,61145.0
113,658646461104730b567e20db,113,ts20983,Neon Genesis Evangelion,SHOW,"At the turn of the century, the Angels returne...",1995,TV-14,24,tt0112159,8.5,64727.0

In [50]:
print("Datos del show One Piece")
df1[(df1["title"]=="One Piece")]

Datos del show One Piece

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
103,658646461104730b567e20d1,103,ts20339,One Piece,SHOW,"Years ago, the fearsome Pirate King, Gol D. Ro...",1999,TV-14,23,tt0388629,8.8,112586.0

In [51]:
print("Shows aptos para todo publico")
df1[(df1["type"]=="SHOW")&(df1["age_certification"]=="TV-PG")]

Shows aptos para todo publico

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
43,658646461104730b567e2095,43,ts20681,Seinfeld,SHOW,A stand-up comedian and his three offbeat frie...,1989,TV-PG,24,tt0098904,8.9,302700.0
51,658646461104730b567e209d,51,ts22082,Knight Rider,SHOW,"Michael Long, an undercover police officer, is...",1982,TV-PG,51,tt0083437,6.9,33760.0
61,658646461104730b567e20a7,61,ts23753,Major Dad,SHOW,Major Dad is an American sitcom created by Ric...,1989,TV-PG,24,tt0096643,6.4,2866.0
91,658646461104730b567e20c5,91,ts63001,High Risk,SHOW,High Risk is a program aired by the CBS televi...,1988,TV-PG,50,tt0094478,3.8,6.0
98,658646461104730b567e20cc,98,ts20981,Survivor,SHOW,A reality show contest where sixteen or more c...,2000,TV-PG,48,tt0239195,7.4,24368.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5088,658646461104730b567e344a,5088,ts285470,Pet Stars,SHOW,Follow talent management company Pets on Q as ...,2021,TV-PG,27,tt14318392,4.9,117.0
5098,658646461104730b567e3454,5098,ts257873,Dive Club,SHOW,Dive Club follows the story of a feisty group ...,2021,TV-PG,0,tt13275052,6.2,789.0
5154,658646461104730b567e348c,5154,ts274575,How to Be A Cowboy,SHOW,Dale Brisby uses social media savvy and rodeo ...,2021,TV-PG,25,tt13438900,6.8,145.0
5166,658646461104730b567e3498,5166,ts317709,Kayko and Kokosh,SHOW,Two Slavic warriors do everything in their pow...,2021,TV-PG,13,tt13979288,6.3,314.0
5254,658646461104730b567e34f0,5254,ts307816,Korean Cold Noodle Rhapsody,SHOW,"Refreshing and flavorful, naengmyeon is Koreaâ...",2021,TV-PG,49,tt15772846,7.3,15.0

In [52]:
print("Shows aptos para mayores de edad")
df1[(df1["type"]=="SHOW")&(df1["age_certification"]=="TV-MA")]

Shows aptos para mayores de edad

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
28,658646461104730b567e2086,28,ts45948,Monty Python's Fliegender Zirkus,SHOW,Monty Python's Fliegender Zirkus consisted of ...,1972,TV-MA,43,tt0202477,8.1,2144.0
178,658646461104730b567e211c,178,ts22039,H,SHOW,"H is a French sitcom with seventy-one, 22-minu...",1998,TV-MA,25,tt0173554,7.4,1703.0
181,658646461104730b567e211f,181,ts21684,Heartbreak High,SHOW,The ins and outs of the classroom lives of a g...,1994,TV-MA,47,tt0108800,7.8,3106.0
194,658646461104730b567e212c,194,ts28516,Okupas,SHOW,"During the year 2000, Ricardo, Pollo, Walter a...",2000,TV-MA,40,tt0289649,9.0,2326.0
229,658646461104730b567e214f,229,ts4,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,tt0903747,9.5,1727694.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5239,658646461104730b567e34e1,5239,ts283284,Navarasa,SHOW,"From amusement to awe, the nine human emotions...",2021,TV-MA,34,tt13357946,5.9,3470.0
5242,658646461104730b567e34e4,5242,ts308002,The Five Juanas,SHOW,Five women with the same birthmark set out to ...,2021,TV-MA,34,tt15377930,6.9,1728.0
5252,658646461104730b567e34ee,5252,ts309235,Christmas Flow,SHOW,An unlikely Christmas romance blossoms between...,2021,TV-MA,50,tt15340790,5.8,702.0
5266,658646461104730b567e34fc,5266,ts273317,Pitta Kathalu,SHOW,"Four different women, four journeys of love an...",2021,TV-MA,37,tt13879000,5.1,727.0
5275,658646461104730b567e3505,5275,ts286386,The Big Day,SHOW,"For six engaged couples, happily ever after be...",2021,TV-MA,45,tt13887518,4.6,327.0

In [53]:
print("Peliculas con duracion mayor a 200 minutos")
df1[(df1["type"]=="MOVIE")&(df1["runtime"]>200)]

Peliculas con duracion mayor a 200 minutos

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
24,658646461104730b567e2082,24,tm76557,No Longer Kids,MOVIE,"By coincidence, Ahmad discovers that his fathe...",1979,NaN,235,tt8312792,9.0,943.0
45,658646461104730b567e2097,45,tm180542,Once Upon a Time in America,MOVIE,A former Prohibition-era Jewish gangster retur...,1984,R,229,tt0087843,8.3,342335.0
201,658646461104730b567e2133,201,tm117873,Hum Aapke Hain Koun..!,MOVIE,Prem and Nisha meet and fall in love at the we...,1994,NaN,206,tt0110076,7.5,20986.0
378,658646461104730b567e21e4,378,tm43399,Lagaan: Once Upon a Time in India,MOVIE,"In 1890s India, an arrogant British commander ...",2001,PG,224,tt0169102,8.1,111053.0
423,658646461104730b567e2211,423,tm36475,Kabhi Khushi Kabhie Gham,MOVIE,"Rahul, the adoptive son of business magnate Ya...",2001,G,210,tt0248126,7.4,48818.0
428,658646461104730b567e2216,428,tm29269,Jodhaa Akbar,MOVIE,Jodhaa Akbar is a sixteenth century love story...,2008,PG-13,213,tt0449994,7.5,32188.0
495,658646461104730b567e2259,495,tm25842,A Lion in the House,MOVIE,Five families struggle with the ups and downs ...,2006,NaN,225,tt0492472,8.7,312.0
3046,658646461104730b567e2c50,3046,tm244149,The Irishman,MOVIE,"Pennsylvania, 1956. Frank Sheeran, a war veter...",2019,R,209,tt1302006,7.8,371209.0

In [54]:
print("Las mejores peliculas del 2000")
df1[(df1["type"]=="MOVIE")&(df1["imdb_score"])&(df1["release_year"]==2000)].head(10)

Las mejores peliculas del 2000

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
132,658646461104730b567e20ee,132,tm19673,The Patriot,MOVIE,After proving himself on the field of battle i...,2000,R,165,tt0187393,7.2,270231.0
133,658646461104730b567e20ef,133,tm24877,Road Trip,MOVIE,From the director of the Hangover trilogy and ...,2000,R,93,tt0215129,6.5,167670.0
137,658646461104730b567e20f3,137,tm19494,The Replacements,MOVIE,Maverick old-guard coach Jimmy McGinty is hire...,2000,PG-13,118,tt0191397,6.6,64087.0
146,658646461104730b567e20fc,146,tm21596,Hollow Man,MOVIE,"Cocky researcher, Sebastian Caine is working o...",2000,R,112,tt0164052,5.8,130099.0
159,658646461104730b567e2109,159,tm17721,Under Suspicion,MOVIE,A lawyer is asked to come to the police statio...,2000,R,110,tt0164212,6.5,25432.0
198,658646461104730b567e2130,198,tm27601,Phir Bhi Dil Hai Hindustani,MOVIE,"Rival news-reporters, Ajay Bakshi, and Ria Ban...",2000,PG-13,160,tt0222270,6.1,7556.0
208,658646461104730b567e213a,208,tm34391,Before the Flying Circus,MOVIE,Discover how six seemingly ordinary but suprem...,2000,NaN,55,tt9230920,7.3,161.0
226,658646461104730b567e214c,226,tm25389,Fiza,MOVIE,In 1993 Fiza's brother disappears during the r...,2000,NaN,170,tt0248012,6.0,4168.0

In [55]:
print("Los mejores shows del 2022")
df1[(df1["type"]=="SHOW")&(df1["imdb_score"]>8)&(df1["release_year"]==2022)].head(10)

Los mejores shows del 2022

,_id,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
4415,658646461104730b567e31a9,4415,ts217231,Heartstopper,SHOW,Teens Charlie and Nick discover their unlikely...,2022,TV-14,28,tt10638036,8.9,28978.0
4492,658646461104730b567e31f6,4492,ts94677,Worst Roommate Ever,SHOW,Violent scammers. Cold killers. These terrifyi...,2022,TV-MA,47,tt8323702,8.1,8.0
4516,658646461104730b567e320e,4516,ts321513,My Liberation Notes,SHOW,"Three siblings, exhausted by the monotony of d...",2022,TV-14,62,tt15146130,8.4,276.0
4517,658646461104730b567e320f,4517,ts311989,jeen-yuhs,SHOW,"Kanye West docu-series, over 20 years in the m...",2022,TV-MA,93,tt14599438,8.1,7269.0
4540,658646461104730b567e3226,4540,ts302363,Twenty Five Twenty One,SHOW,The dreams of two young people are crushed by ...,2022,TV-14,76,tt17513352,8.7,4081.0
4628,658646461104730b567e327e,4628,ts296563,Who Rules The World,SHOW,A legendary wuxia romance that focuses on the ...,2022,TV-PG,44,tt14950036,9.2,81.0
5092,658646461104730b567e344e,5092,ts310628,MaveriX,SHOW,Six young motocross riders come together to fo...,2022,NaN,23,tt15373864,8.4,31.0